.container {
    box-sizing: border-box;
    max-width: 1200px;
    padding-left: 20px;
    padding-right: 20px;
    margin: 0 auto;
  }
  /* display flex para diversas situações */

  .flex-centro{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .flex-centro.row{
    flex-direction: row;
  }
  .flex{
    display: flex;
    flex-direction: column;
  }
  .flex.spacebet{
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
  }




  .botao{
    padding: 20px;
    width: 200px;
    border-radius: 4px;
    color: white;
    border: none;
    text-align: center;
    cursor: pointer;
    transition: .2s;
    position: relative;
}
.seta{
  position: absolute;
  right: 40px;
  transition: .3s ease;
}
.botao:hover .seta{
  transform: translateX(10px);
  
}
.botao.verde-g{
    background-color:  #3F8E00;
    box-shadow: 0px 0px 20px #3F8E00;
}
.botao.verde-g:hover{
  background-color:  #2b5f01;

}
.botao.verde-p:hover{
  background-color:  #2b5f01;

}
.botao.verde-p{
  width: 150px;
  padding: 15px;
  background-color:  #3F8E00;
  box-shadow: 0px 0px 20px #3F8E00;
}
.botao.secundario{
  border-radius: 8px;
  
  padding: 15px;
}


.botao.laranja{
    background-color: #fa9c10;

}
.botao.laranja:hover{
  background-color: #be7506;

}
.botao.azulEs{
  background-color: #000AFF;
}
.botao.azulEs:hover{
  background-color: #0208b6;

}
.botao.azulCl{
  background-color: #2AB090;
}
.botao.azulCl:hover{
  background-color: #168369;

}

/*Spans coloridos*/

.span{
  width: 60px;
  text-align: center;
  padding: 5px;
  border-radius: 10px;
}
.span.laranja{
  background-color: #ffa2174f;
  color: #fa9c10;
}
.span.azulEs{
  background-color: #0008ff55;
  color: #000AFF;
}

.span.azulCl{
  background-color: #2ab09185;
  color: #2AB090;
}


/* imagem*/

.imagem-pequena{
  width: 50px;
  height: 50px;
  border-radius: 50%;
}


@media(max-width: 720px){
  .botao.secundario{
    width: 150px;
  }
  .seta{
    display: none;
  }

}


